.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e54500;
    padding: 25px 25px 45px;
    min-width: 180px;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat {
    /* margin-top: 50px; */
    margin-top: 0px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 2s;
}

.sidebar .recent-title {
    margin: 30px 10px 20px 0;
    /* margin-bottom: 20px; */
}

.sidebar .recent-entry-history {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px 0 0 0;
    color: #e1e4e8;
    cursor: pointer;
    position: relative;
    /* Required for the pseudo-element */
}

.sidebar .recent-entry-history.active {
    color: rgb(255, 255, 255)
}

.sidebar .recent-entry-history::after {
    content: '';
    /* Pseudo-element for the underline */
    position: absolute;
    left: 0;
    /* Align the underline to the left */
    bottom: 0;
    /* Position it at the bottom */
    width: 100%;
    /* Full width underline */
    height: 1px;
    /* Thickness of the underline */
    background-color: #e6eaf1;
    /* Color of the underline */
    opacity: 0;
    /* Start as invisible */
    transition: opacity 0.3s ease;
    /* Smooth transition for opacity */
}

.sidebar .recent-entry-history.active::after {
    opacity: 1;
    /* Fade in the underline when active */
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
}

.sidebar .recent-entry {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .recent-entry:hover {
    background-color: #ffd0bc;
    color: #282828;
    width: 140px;
}

.logoutButton {
    color: #ffffff;
    text-decoration: none;
}

.logoutButton:hover {
    color: #282828;
}

.sidebar img {
    width: 20px;
}

.recent-title {
    font-size: 20px;
    /* Increase font size as needed */
    color: #ffffff;
    /* Change color to white */
    margin: 0;
    /* Remove default margin if necessary */
}

p {
    margin-bottom: 0;
}

@media (max-width:600px) {
    .sidebar {
        display: none;
    }
}