@import './variables.scss';

.form-container {
    font-family: 'Poppins', san-serif;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1 1fr;

    @include respond-to('small') {
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }
}

.close-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
}

.form-content-left {
    background: linear-gradient(90deg, #e54500, #ffd0bc);
    height: 40%;
    position: relative;

    @include respond-to('small') {
        height: 100vh;
        background: linear-gradient(90deg, #e54500, #ffd0bc);
    }
}

.form-img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond-to('small') {
        height: 100%;
    }
}

.form-img-2 {
    width: auto;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
}

.form-content-right {
    position: relative;
    height: 100vh;
    width: auto;
    overflow-y: auto;
    padding-top: 20px;

    @include respond-to('small') {
        height: 100vh;
        position: relative;
    }
}

.form {
    position: static;
    height: 100%;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 50px;
}

.spacer {
    height: 40px;
    background-color: white;
    width: 100%;
    flex-shrink: 0;
}

.form h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;
    width: 80%;
    margin-bottom: 1rem;
    color: $primary;
    margin-top: 4rem;

    @include respond-to('small') {
        margin-top: 0;
        font-size: 2rem;
        text-align: start;
    }
}

.form h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 80%;
    margin-bottom: 1rem;
    color: #000000;
    margin-top: 4rem;

    @include respond-to('small') {
        margin-top: 0;
        font-size: 1.5rem;
        text-align: start;
    }
}

.form-inputs {
    margin-bottom: 0.5rem;
    width: 100%;
}

.form-inputs p {
    font-size: 0.8rem;
    color: $secondary;
}

.form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 2px;
    color: $black;
}

.form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: $borderRadius;
    background-color: $light-grey;
}

.form-input::placeholder {
    color: $dark-grey;
    font-size: 12px;
}

.form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: $primary !important;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, $primary 0%, $secondary 100%);
    transition: all 0.4s ease-out;
}

.form-input-btn-second {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: #ffffff !important;
    outline: none;
    border: solid 1px !important;
    color: #e54500 !important;
    font-size: 1rem;
}

.form-input-btn-second:hover {
    cursor: pointer;
    background: linear-gradient(90deg, $primary 0%, $secondary 100%);
    transition: all 0.4s ease-out;
    color: #ffffff !important;
}

.form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: $black;
    width: 80%;
    text-align: center;
}

.form-input-login a {
    text-decoration: none;
    color: $primary;
    font-weight: 600;
}

.login-btn {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: $primary !important;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.checkmark__circle {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: $primary;
    fill: $primary;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px $primary;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.form-input {
    position: relative;
    /* Necessary to position the icon absolutely within the container */
    display: inline-block;
    /* To control width and spacing */
    flex: 1;
    /* Allow the input to grow and fill the available space */
}

.password-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.password-container .password-toggle-icon {
    position: absolute;
    color: #ccc;
    display: flex;
    align-self: center;
    margin-right: 10px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #0066FF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #0055cc;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px $primary;
    }
}